body {
  background-color: rgb(0, 0, 0);  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(255, 208, 0);
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 200px;
  height: auto;
  margin-top: 20px;
}

.gros-titre {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #00aaff;
  font-weight: bold;
}

nav ul li a:hover {
  color: white;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  text-align: justify;
}

.gta-image {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.boutons-pages {
  text-align: center;
  margin: 40px 0;
}

.btn {
  background-color: #00aaff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  margin: 0 10px;
  display: inline-block;
}

.btn:hover {
  background-color: #ff7c02;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid rgb(255, 208, 0);
}

.copyright {
    margin-top: 15px;
    font-size: 0.9em;
    color: #ccc;
}


.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.gallery-image-large {
    max-width: 700px;
    width: 80%;
    border: 3px solid #00aaff;
}

.btn-nav {
    background: #00aaff;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}


.tabs-menu {
    text-align: center;
    margin-bottom: 20px;
}

.tab-btn {
    background-color: #222;
    color: #00aaff;
    border: 1px solid #00aaff;
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
}

.tab-btn.active {
    background-color: #00aaff;
    color: white;
}

.tab-content {
    display: none; 
    border: 1px solid #00aaff;
    padding: 20px;
    background-color: #111;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}